html{
  	background-image: linear-gradient(red, yellow);
  	background-repeat: no-repeat;
}
body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 40px;
}
header {
	height: 10%;
	margin-top: 0 auto;
}
/*Site Navigation*/
.site_nav {
	margin-top: 20px;
}

.site_nav ul {
	margin: 0;
	padding: 0;
}

.site_nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}
.site_nav a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid ;
	border-bottom: none;
}
.site_nav li:hover > a,
.site_nav a:hover {
	background-color: rgba(0, 0, 0, .3);
}

/*End Site Navigation*/

.content_area {
	height: 85%;
	background-color: rgba(255, 255, 255, .25);
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	margin: 0 auto;
	padding: 0px;

}
.main_area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}
.sidebar {
	width: 34%;
	float: left;
	background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
	padding: 20px 40px;
	box-sizing: border-box;
	font-size: 85%;
}
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
footer {
	height: 5%;
	text-align: center;
}
.fix {
	clear: both;
}